.getBooksContainer {
    margin-top: 0%;
}

.getBooksTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 160%;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2%;
}

.uniSelect {
    width: 70%;
    margin-top: 4%;
    margin-left: 5%;
}

.dropdownTitles {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
}

.dropdownRow {
    border-bottom: 2px solid #3D8A3A;
    margin-bottom: 5%;
    padding-bottom: 2%;
}

.mybooks {
    /* border-bottom: 2px solid #3D8A3A;  */
    padding-bottom: 2%; 
    margin-top:23%;
    font-style: italic;
}

.mybooks:before {
    content : "";
    position: absolute;
    left    : 20%;
    bottom  : 0;
    height  : 1px;
    width   : 65%;  /* or 100px */
    border-bottom: 2px solid #3D8A3A;
}

.mybookImage {
    height: 100px !important;
    width: 70px !important;
    margin-left: -20%;
}

.bookList > li{
    list-style-type: none;
}

.bookList > li > div > div > img {
    height: 150px;
    width: 115px;
    box-shadow: 2px 2px 3px rgb(112, 111, 111);
    margin-bottom: 15%;
}

.bookRow {
    border-bottom: 2px solid grey; 
    margin-top: 5%;
}

.bookList > li:last-child > div {
    border-bottom: none !important;
}


