/* .helpMenu > a:link {

    color: black;
}

.helpMenu > a:visited {

    color: black;
}

.helpMenu > a:hover {

    color: rgb(35, 105, 33);
} */

.helpNav {
    background-color: white;
    font-weight: bold;
    font-size: 100%;
    color: black;
}

.helpNav:hover {
    cursor: pointer;
    background-color: #3D8A3A !important;
    color: white !important;
    border: #3D8A3A;
}

#list-tab > .active {
    background-color: #3D8A3A !important;
    border: #3D8A3A;
}

#list-tab {
    box-shadow: 2px 2px 3px rgb(112, 111, 111);
}

.card-header
{
  box-shadow: 1px 1px 2px rgb(173, 171, 171);
  background-color: rgb(245, 245, 245);
}

.card-header > h5 > button {
    color: black;
    font-weight: bold;  
    font-size: 18px;
}

.card-header > h5 > button:hover {
    text-decoration: none;
    color: #3D8A3A;
  }

  .card-body
{
  box-shadow: 2px 2px 8px grey;
}

.card-body > h4 {
    font-weight: bold;
    margin-top: 7%;
}
