/* .helpMenu > a:link {

    color: black;
}

.helpMenu > a:visited {

    color: black;
}

.helpMenu > a:hover {

    color: rgb(35, 105, 33);
} */

.helpMenu {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    padding-bottom: 10%;
}

/* #foititis > a:link {

    color: black;
}

#foititis > a:visited {

    color: black;
}

#foititis > a:hover {

    color:rgb(35, 105, 33);
}

#foititis  > a:active {

    color: rgb(25, 88, 23);
}

#ekdotis > a:link {

    color: black;
}

#ekdotis > a:visited {

    color: black;
}

#ekdotis > a:hover {

    color:rgb(35, 105, 33);
}

#ekdotis  > a:active {

    color: rgb(25, 88, 23);
}

#grammateia > a:link {

    color: black;
}

#grammateia > a:visited {

    color: black;
}

#grammateia > a:hover {

    color:rgb(35, 105, 33);
}

#grammateia  > a:active {

    color: rgb(25, 88, 23);
} */


.nav-item > a:link {

    color: black;
}

.nav-item > a:visited {

    color: black;
}

.nav-item > a:hover {

    color:rgb(35, 105, 33);
}

.nav-item > a:active {

    color: rgb(25, 88, 23);
}

/* #helpFoit2 > a:link {

    color: black;
}

#helpFoit2 > a:visited {

    color: black;
}

#helpFoit2 > a:hover {

    color:rgb(35, 105, 33);
}

#helpFoit2 > a:active {

    color: rgb(25, 88, 23);
}

#helpFoit3 > a:link {

    color: black;
}

#helpFoit3 > a:visited {

    color: black;
}

#helpFoit3 > a:hover {

    color:rgb(35, 105, 33);
}

#helpFoit3 > a:active {

    color: rgb(25, 88, 23);
} */



#subListFoit{

    margin-top: 30px;
    display: none;
    
}

#subListFoit a{

    font-size: 70%;
    
}

#subListEkdot{

    margin-top: 30px;
    display: none;
    
}

#subListEkdot a{

    font-size: 70%;
    
}

#subListGram{

    margin-top: 30px;
    display: none;
    
}

#subListGram a{

    font-size: 70%;
    
}

.subListMenu {

    list-style:none;
    padding: 0;
    margin: 0;
}


#helpDhlwsh {

    display: none;
}

#helpAcc {

    display: none;
}

#helpMe {

    display: none;
}

#helpKata {

    display: none;
}

#helpAccEkdot {

    display: none;
}

#helpPro {

    display: none;
}

#helpAccGram {

    display: none;
}