.nav-item {
  font-size: 20px;
  padding-top: -1%;
  margin-bottom: 0%;
  font-family: Helvetica, sans-serif;
  margin-left: 10px;
  /* font-weight: bold; */
}

.navbar {
  height: 50px !important;
  /* background-color: #3D8A3A; */
  box-shadow: 2px 2px 8px grey;
  background-image: linear-gradient(to bottom right, rgb(77, 161, 74), rgb(35, 105, 33));
}

.nav-link {
  color: rgb(14, 13, 13);
  padding-left: 5%;
}

.dropdown-menu > a:hover {
  background-color: rgb(129, 0, 0);
}

.nav-item > .active {
  color: white;
}

.nav-item > a:hover {
  color: white;
}
