
.card-header
{
  box-shadow: 2px 2px 8px grey;
  background-image: linear-gradient(to bottom right, rgb(77, 161, 74), rgb(35, 105, 33));
}

.card-body
{
  box-shadow: 2px 2px 8px grey;
}

.card-footer {
  
  box-shadow: 2px 2px 8px grey;
  
}
.fa-list-alt
{
    margin-right:4px !important; /*override*/
    
}

.pagination 
{
  margin-left:200px !important; /*override*/
}

.pagination a
{
    color:rgb(35, 105, 33);
}

.pagination a:hover{

  color: rgb(35, 105, 33);
}

.card ul
{
    padding:0px;
    margin:0px;
    list-style:none;
}

.news-item
{
    padding:4px 4px;
    margin:0px;
    border-bottom:1px solid #3D8A3A;
}
#jquery-script-menu {
position: fixed;
height: 90px;
width: 100%;
top: 0;
left: 0;
border-top: 5px solid #316594;
background: #fff;
-moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
-webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
z-index: 999999;
padding: 10px 0;
-webkit-box-sizing:content-box;
-moz-box-sizing:content-box;
box-sizing:content-box;
}

.jquery-script-center {
width: 960px;
margin: 0 auto;
}
.jquery-script-center ul {
width: 212px;
float:left;
line-height:45px;
margin:0;
padding:0;
list-style:none;
}
.jquery-script-center a {
	text-decoration:none;
}
.jquery-script-ads {
width: 728px;
height:90px;
float:right;
}
.jquery-script-clear {
clear:both;
height:0;
}

