.menuCard {

  box-shadow: 2px 2px 8px grey;
  margin-right: 10%;
  
}

.card-header
{
  box-shadow: 1px 1px 2px rgb(173, 171, 171);
  background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(255, 255, 255));
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  
}

.card-body
{
  box-shadow: 2px 2px 8px grey;
}

.profileCard {
  
  margin-block-end:10%;
}


.depSel {

  width: 70%;
  margin-top: 10%;
}