.menuCard {

  box-shadow: 2px 2px 8px grey;
  margin-right: 30%;
  
  
}

.card-header
{
  box-shadow: 1px 1px 2px rgb(173, 171, 171);
  /* background-image: linear-gradient(to bottom right, rgb(245, 236, 236), rgb(255, 255, 255)); */
  background-color: rgb(245, 236, 236);
  font-size: 20px;
  font-weight: bold !important;
  /* text-align: center; */
  
}

.historyCard {
  text-align: left;
}
.card-body
{
  box-shadow: 2px 2px 8px grey;
}

.profileCard {
  
  margin-block-end:10%;
  
}


.depSel {

  width: 70%;
  margin-top: 10%;
}

.activeState {
  color: #3D8A3A;
}

.historyCard > div > h5 > button {
  color: black;
}

.historyCard > div > h5 > button:hover {
  text-decoration: none;
  color: #3D8A3A;
}

.historyCard > div > div > div > button {
  color: black;
}

.historyCard > div > div > div > button:hover {
  text-decoration: none;
  color: #3D8A3A;
}

.bookList > li{
  list-style-type: none;
}

.btnPointer:hover{
  cursor: pointer;
}

.stateHeaders {
  font-size: 20px;
  font-weight: bold;
}

.stateCardHead {
  font-size: 18px;
  font-weight: bold !important;

}

.openPoint {
  color: #3D8A3A;
}

.closePoint {
  color: rgb(206, 8, 8);
}